body{
    padding-top: 70px;
}

.jumbotron{
    color: #195694;
    background:lightgray;
}

.navbar-inverse{
    background: rgb(62, 62, 87);
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
  } 

  .navbar-inverse .navbar-brand {
    color:white;
}